<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eatsy</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    </head>
    <body>
        <a href="#maincontent" class="skip-link">Skip To Content</a>
        <header class="header">
            <div class="header__inner">
                <h1 class="header__title">
                    Eatsy
                </h1>
            </div>
            <a id="menu" href="#" class="header__menu">☰</a>
            <nav id="drawer" class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/">Home</a></li>
                    <li class="nav__item"><a href="#">Favorite</a></li>
                    <li class="nav__item"><a href="https://www.linkedin.com/in/rizkisetyawan/">About Us</a></li>
                </ul>
            </nav>
        </header>

        <div class="hero">
            <div class="hero__inner">
                <h1 class="hero__title">Waktunya Makan Enak Tidurpun Nyenyak</h1>
                <p class="hero__tagline">Saatnya menikmati makanan di negeri sendiri dengan memilih berbagai Restaurant di seluruh Indonesia</p>
            </div>
        </div>

        <main>
            <section id="maincontent" class="content">
                <div class="explore">
                    <h1 class="explore__label">Explore Restaurant</h1>
                    <div class="posts">
                        <article class="post-item">
                            <p class="post-item__city">Medan</p>
                            <img class="post-item__thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41"
                                alt="Bring Your Phone Cafe">
                            <div class="post-item__content">
                                <p class="post-item__rate">Rate | <span class="post-item__rate_star">&#9733;</span> 4.6</p>
                                <h1 class="post-item__title"><a href="#">Bring Your Phone Cafe</a></h1>
                                <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                            </div>
                        </article>
                        <article class="post-item">
                            <p class="post-item__city">Bali</p>
                            <img class="post-item__thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
                                alt="Run The Gun">
                            <div class="post-item__content">
                                <p class="post-item__rate">Rate | <span class="post-item__rate_star">&#9733;</span> 4.6</p>
                                <h1 class="post-item__title"><a href="#">Run The Gun</a></h1>
                                <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                            </div>
                        </article>
                        <article class="post-item">
                            <p class="post-item__city">Ternate</p>
                            <img class="post-item__thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29"
                                alt="Pangsit Express">
                            <div class="post-item__content">
                                <p class="post-item__rate">Rate | <span class="post-item__rate_star">&#9733;</span> 4.8</p>
                                <h1 class="post-item__title"><a href="#">Pangsit Express</a></h1>
                                <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                            </div>
                        </article>
                        <article class="post-item">
                            <p class="post-item__city">Malang</p>
                            <img class="post-item__thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38"
                                alt="Bring Your Phone Cafe">
                            <div class="post-item__content">
                                <p class="post-item__rate">Rate | <span class="post-item__rate_star">&#9733;</span> 4.7</p>
                                <h1 class="post-item__title"><a href="#">Ducky Duck</a></h1>
                                <p class="post-item__description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                            </div>
                        </article>
                        <article class="post-item">
                            <p class="post-item__city">Bali</p>
                            <img class="post-item__thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40"
                                alt="Kafein">
                            <div class="post-item__content">
                                <p class="post-item__rate">Rate | <span class="post-item__rate_star">&#9733;</span> 3.8</p>
                                <h1 class="post-item__title"><a href="#">Kafein</a></h1>
                                <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                            </div>
                        </article>
                        <article class="post-item">
                            <p class="post-item__city">Malang</p>
                            <img class="post-item__thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08"
                                alt="Makan mudah">
                            <div class="post-item__content">
                                <p class="post-item__rate">Rate | <span class="post-item__rate_star">&#9733;</span> 4.6</p>
                                <h1 class="post-item__title"><a href="#">Makan mudah</a></h1>
                                <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>Copyright © 2020 - Eatsy Apps</p>
        </footer>
    </body>
</html>
